<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStudy - Login</title>
</head>
<body>
    <h3>Login to MyStudy</h3>

    <form method="post">
      <input type="text" name="username" placeholder="Enter your username" required><br><br>
      <input type="password" name="password" placeholder="Enter your password" required><br><br>
      <button type="submit">Login</button>
    </form>

    <p>
      New user?
      <a href="{{ url_for('main.register') }}">Register here</a>
    </p>
</body>
</html>
